<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="/assets/styles/main.css" />
      {% block title %}
        <title>Bienvenue sur mon site web</title>
      {% endblock %}
      {% block css %}{% endblock %}
    </head>
  <body>
    <div class="body">
        <h1> Bienvenue sur mon site </h1>
        <p> Lorem Ipsum azpeo a ze  aze poi poaize paozie </p>

      {% include "layout/navbar.njk" %}

      
     
      {% include "layout/footer.njk" %}
    </div>
    
</body>

</html>
    
